name: Python Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - master
      - release/*
      - develop

jobs:  
  test:                   
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
                         
      - name: Set developer info
        id: set_info
        run: |
          echo "FULL_NAME=Моломожнов Никита" >> $GITHUB_ENV
          echo "GROUP=М3111" >> $GITHUB_ENV
          echo "GITHUB_USER=${{ github.actor }}" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "Файл requirements.txt не найден!"
            exit 1
          fi

      - name: Run tests
        run: pytest

      - name: Check code style
        run: flake8 .
